<div class="logo"><img src="./assets/logo-bottega.svg"></div>
<div class="menu-container">
  <div>
    <div class="title">Annuaire</div>
    <div class="action-card-primary" routerLink="/clients">
      <i class="material-icons">contacts</i>
      <span>Annuaire des clients</span>
    </div>
    <div class="action-card-primary" routerLink="/services">
      <i class="material-icons">local_florist</i>
      <span>Liste des services</span>
    </div>
    <div class="title">Bulletin</div>
    <div class="wrapper-card-secondary">
      <div class="action-card-secondary" routerLink="/reports/date">
        <i class="material-icons">event_note</i>
        <span>Date</span>
      </div>
      <div class="action-card-secondary" routerLink="/reports/client">
        <i class="material-icons">person</i>
        <span>Client</span>
      </div>
      <div class="action-card-secondary" routerLink="/reports/service">
        <i class="material-icons">polymer</i>
        <span>Service</span>
      </div>
    </div>
  </div>
</div>
