.report {
  margin: 30px 50px;
  max-width: 600px;
}

.report-main {
  font-size: 18px;
  margin: 15px 0;
}

.report-main  .report-sub {
  font-size: 0.9em;
  margin: 5px 0;
  margin-left: 20px;
}

.report-line {
  display: flex;
}

.report-line > span:not(:first-child) {
  flex: 0 1 100px;
  text-align: right;
  position: relative;
}

.report-line > span:not(:first-child)::after {
  content: ' CHF';
  font-size: 0.8em;
}

.report-line > span:first-child {
  flex-grow: 2;
}

.report-line > .amount {
  color: red;
  font-size: 0.9em;
}

.report-main > .report-line {

  border-bottom: 1px solid black;
}

.report-tools {
  background: #e4e4e4;
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.total {
  font-size: 24px;
}

.report-tools mat-checkbox:not(:last-child) {
  margin-right: 10px;
}