<div class="spinner" [hidden]="loadingComplete"></div>
<div class="services-list">
   <div *ngFor="let service of services" class="service-details">
      <div>{{ service.service }}</div>
      <div>{{ service.price}} CHF</div>
      <div>
         <button (click)="openServiceUpdateDialog(service.id)" mat-icon-button>
          <i matTooltip="Modifier" class="material-icons">create</i>
        </button>
         <button (click)="openServiceDeleteDialog(service.id)" mat-icon-button>
          <i matTooltip="Supprimer" class="material-icons">delete</i>
        </button>
      </div>
   </div>
</div>
